*{
    color: red; 
    /* // uinversal selecter */
}
h1{
    color: red;
    text-align: end;
    text-decoration: blue wavy;
};

h2 {
    color: yellowgreen;
    font-weight: 400;
};

p{

}

body{
    background-color: yellowgreen;
}

button{
    background-color: pink;
    color: gr;
}

/* # hedingone {
    color:brown
} */


/* class selector */
.myclass {
    color: yellowgreen;
}
p{
    text-align: center;
    text-decoration:tomato ;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}
#h1{
    font-weight: normal;
}
#h2{
font-weight: normal;
}

#h4{
    font-family: 'Gill Sans';
}
