*{
    color: red; 
    /* // uinversal selecter */
}
h1{
    color: red;
};

h2 {
    color: yellowgreen;
};

p{

}

body{
    background-color: yellowgreen;
}

button{
    background-color: pink;
    color: gr;
}

/* # hedingone {
    color:brown
} */


/* class selector */
.myclass {
    color: yellowgreen;
}