div {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    background-color: goldenrod;
    /* display: block;
    border: 2px; */
}
#box2{
    /* display: none; */
    visibility: hidden;
}
h1{width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    background-color: goldenrod;
text-align: justify;
}
button{
background-color: goldenrod;
    /* display: block; */
    display: inline;
}

/* Alpha chnnel for opacity */