#box1{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    font-size: 10px;
}

#box2{
    height: 50px;
    /* width: 50px; */
    height: 100vh;
    width: 30%;
    background-color: yellow;
    text-align: center;
    /* resize: horizontal; */
    margin-left: 25px;
    font-size: .5em;
    width: 5em;
}